.article-container-single {
    max-width: 1440px;
    justify-self: center;
    padding-bottom: 50px;
}

.article-single-banner {
    display: flex;
    max-height: 600px;
    object-fit: cover;
}

.hr-line {
    max-width: 80%;
}

.single-context {
    display: flex;
    margin: 8%;
}

.single-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
}

.single-label {
    color: #8A909B;
}

.single-info-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.single-right {
    flex: 2;
}

.related-articles {
    margin-top: 6rem;
    margin-bottom: 6rem;
    text-align: center;
}

.single-card-related {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 6rem;
}